@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');

body {
    background:#222;
    font-family: 'Ropa Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    
}

.server-list {
    width: 600px;
    background: #222;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
    margin-left:auto;
    margin-right:auto;
    color: #aaa;
    table-layout:fixed;
}

.server-list td {
    padding: 10px;
    margin: 0px;
}

.server {
    background: #666 ;
    color: white;
    font-size: 18px;
}

.server td {
    background: #666 ;
    padding: 10px;
}

.player td {
    overflow: hidden;
    white-space: nowrap;
}

.heading-players td {
    background: #333;
    color: #666;
    padding: 0px;
    padding-left: 10px;
}

.heading th
{
    display: hidden;
    visibility: hidden;
    background: #333;
    color: #666;
    padding: 0px;
    padding-left: 10px;
    
    
}